<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th hidden>
                    Id
                </th>
                <th>
                    CPF
                </th>
                <th>
                    Name
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.BirthDate.ToString())
                    </th>*@
            </tr>
            @*@foreach (var item in Model)
                {*@
            @foreach (var item in ViewData["CustomerInfo"] as List<WebMVC.Models.Customers>)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @*<td>
                            @Html.DisplayNameFor(modelItem => item.BirthDate.ToString())
                        </td>*@
                    <td>
                        <button id="btnSubmit" class="btn btn-primary" runat="server" Text="Editar" OnClick="btnSubmit_Click">Editar</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
